@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100');
$background:#f4f4f4;
$primary:#c3c3c3;
$accent:#ff3333;
body{
	background:$background; 
	font-family: 'Roboto', sans-serif;
	line-height:1.6;
	overflow-x: hidden;
	font-size:11pt;
}
.wrapper{
	padding:3em 6em;
	article {
		background-color:white;
		background-repeat:no-repeat;
		z-index:1;
		box-shadow: 4px 4px 5px rgba(0.2,0.2,0.2,0.1);
		width:86em;
		max-width:calc(100vw - 6em);
		align-items:center;
		display:flex;
		margin:0px auto;
	}
	h1{
		text-align:center;
		font-size:1.9rem;	
		margin: 0.2em 0em;
		font-weight:100;
		letter-spacing:2px;
	}
	h2{
		text-align:center;
		font-size:0.8rem;
		color:#a0a0a0;
		font-weight:100;
	}
	p{
		font-weight:300;
		font-size:11pt;
		font-family: 'Open Sans', sans-serif;
	}
	.page-image{
		min-height:50em;
		min-width:50%;
		background-color:#ddd;
		background-position:center;
		background-image: url('../img/pic01.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		opacity: 1;
		-webkit-transition: all 0.3s ease;;
		-moz-transition: all 0.3s ease;;
		-o-transition: all 0.3s ease;;
		transition: all 0.3s ease;
	}
	.page-image:hover{
		opacity: 0.8;
	}
	.block {

		padding: 0em 2em;
	}
	.button {
		-webkit-transition: all 0.3s ease;;
		-moz-transition: all 0.3s ease;;
		-o-transition: all 0.3s ease;;
		transition: all 0.3s ease;
		padding:1em;
		border:$primary solid 1px;
		min-width: 12em;
		margin: 1em 0em;
		a{
			text-transform: uppercase;
			text-decoration: none;
			color:#636363;
			letter-spacing:0.3em;
			font-weight:300;
			font-size:10pt;
		}
	}
	.button:hover {
		border-color:$accent;
		a{
			color:$accent;
		}
	}
	.nav {
		list-style-type: none;
		display: inline-block;
		vertical-align: top;
		zoom: 1; /* Fix for IE7 */
		*display: inline; /* Fix for IE7 */
	}
	.text-center{
		text-align:center;
	}
}
