	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100');
	$background:#f4f4f4;
	$primary:#c3c3c3;
	$accent:#ff3333;

	// GLOBAL
	*{
		font-family: 'Open Sans', sans-serif;
	}

	input,button,label {
		display:block;
	}
	button{
		&:focus{
			outline: none;
		}
	}

	body{
		background:$background; 
		line-height:1.6;
		overflow-x: hidden;
		font-size:11pt;
		margin: 0;
	}
	article {
		background-color:white;
		background-repeat:no-repeat;
		z-index:1;
		box-shadow: 4px 4px 5px rgba(0.2,0.2,0.2,0.1);
		align-items:center;
		margin:0px auto;
	}
	p{
		font-weight:300;
		font-size:11pt;
		text-align:justify;
	}
	.text-center{
		text-align:center;
	}

	// Left Part
	.page-image{
		min-height:25em;
		flex:50%;
		background-color:#ddd;
		background-position:center;
		background-image: url('../img/pic01.jpg');
		background-repeat:no-repeat;
		background-size:cover;
	}
	// Right Part
	.content{
		flex:50%;
	}
	.block {
		padding: 0em 2em;
	}
	.title{
		font-family:"Roboto", sans-serif;
		text-align:center;
		font-size:1.9rem;	
		margin: 0.2em 0em;
		font-weight:100;
		letter-spacing:2px;
	}
	.comment{
		text-align:center;
		font-size:0.8rem;
		color:#a0a0a0;
		font-weight:100;
	}
	.button {
		-webkit-transition: all 0.3s ease;;
		-moz-transition: all 0.3s ease;;
		-o-transition: all 0.3s ease;;
		transition: all 0.3s ease;
		padding:1em;
		border:$primary solid 1px;
		min-width: 12em;
		margin: 1em 0em;
		a{
			text-transform: uppercase;
			text-decoration: none;
			color:#636363;
			letter-spacing:0.15em;
			font-weight:300;
			font-size:10pt;
		}
	}
	.button:hover {
		cursor:pointer;
		border-color:$accent;
		a{
			color:$accent;
		}
	}
	.nav {
		list-style-type: none;
		display: inline-block;
		vertical-align: top;
		padding: 0;
		zoom: 1; /* Fix for IE7 */
		*display: inline; /* Fix for IE7 */
	}
	.hidden {
		display:none;
	}


	// .row:hover{
	// 	box-shadow: 1px 1px 6px rgba(0.2,0.2,0.2,0.5);
	// }
	.row{
		z-index: 0;
		// box-shadow: 0px 0px 5px rgba(0.2,0.2,0.2,0.2);
		width:100%;
		display:flex;
		margin-bottom:1em;
			background-color:#efefef44;
		.project-icon{
			width:20em;
			img{
				width:20em;
			}
		}
		.project-content{
			padding:1em 1em;
			.project-title {
				text-align:center;
				font-size:1.3rem;	
				margin: 0.2em 0em;
				font-weight:300;
				letter-spacing:1px;
			}
			.project-company {
				text-align:center;
				font-size:0.8rem;
				color:#a0a0a0;
				font-weight:100;
			}
			.project-attached{
				text-align:center;
				margin:4px 0;
				a {
					color:white;
					background-color:blue;
					border-radius:0.2em;
					background-color:#ff7b7b;
					padding:4px 10px;
					font-size:10pt;
					letter-spacing:1px;
					text-decoration:none;
				}
			}
			.project-description {
				letter-spacing:0.2px;
				text-align:justify;
			}
		}
	}

	.panel{
		padding:0.6em 0em;
		background:#fbfbfb;
		z-index:1;
		position: relative;
		.nav-back{
			position: relative;
			z-index: 1;
			background:#fbfbfb;
			border: 0px;
			div {
				display:inline-block;
				vertical-align:middle;
			}
			i{
				display:inline-block;
				vertical-align:middle;
				margin:0px 10px;
			}
		}
		.panel-title,span{
			margin: 0.2em 0em;
			font-weight:100;
			letter-spacing:2px;
			margin-top:0;
		}
		.panel-title{
			position: absolute;
			width:100%;
		}
	}

	.text-center{
		text-align:center;
		vertical-align: middle;
	}
	#back-portfolio {
		
	}
	.social {
		margin-top:1.5em;
		a{
			margin:0em 0.8em;
			text-decoration:none;
			i{
				-webkit-transition: all 0.3s ease;;
				-moz-transition: all 0.3s ease;;
				-o-transition: all 0.3s ease;;
				transition: all 0.3s ease;
				color:gray;
			}
		}
		a:hover {
			i {
				color:rgb(175, 175, 175);
			}
		}

	}
	.form {
		padding:1.2em;
		input,button,textarea {
			border: 1px solid rgb(140, 140, 140);
			width:100%;
			background-color:white;
			font-size:14pt;
			line-height:1.6;
			//padding:0.4em;
			max-width:40em;
			margin: 0 auto;
			display:block;
		}
		button {
			border: 1px solid #c34747;
			color:#c34747;
			cursor:pointer;
			margin-top:1.4em;
			font-size:1rem;
			padding:0.4em;
		}
		label {
			text-align:center;
			margin-top:0.8em;
			font-family: 'Open Sans', sans-serif;
		}

	}
	

	@media only screen and (max-width:640px) {
		article {
			margin-top:0.8em;
			margin-bottom:0.8em;
		}
		.page-image{
			min-height:20em;
		}
		.block {
			padding: 0em 1em;
		}
		.title {
			font-size:1.7rem;
			margin-top:0.8em;
		}
		p{
			font-size:10pt;
		}
		.panel{
			span {
				font-size:0.8rem;
			}
			.panel-title {
				font-size:0.8rem;
			}
		}

		.row {
			flex-direction:column;
			align-items:center;
		}
		.jcarousel-wrapper {
			width: 200px;
			height: 300px;
			img {
				width: 200px;
				height: 300px;
			}
			.jcarousel-control-prev,
			.jcarousel-control-next {
				top:120px;
			}
		}

	}
	@media only screen and (min-width:640px) and (max-width:1360px) {

		.panel-title,span {
			font-size:1rem;
		}
		#main {
			width:86em;
			max-width:40em;
			.page-image{
				margin:0 auto;
			}
		}
		#portfolio {
			display: block;
			width:86em;
			max-width:calc(100vw - 6em);
		}
		#certificates,#comment{
			display: block;
			width:40em;
			max-width:calc(100vw - 6em);
		}			
		.jcarousel-wrapper {
			width: 30em;
			height: 800px;
			img {
				width:30em;
				height:800px;
			}
			.jcarousel-control-prev,
			.jcarousel-control-next {
				top:380px;
			}
		}



	}


	@media only screen and (min-width:1360px){
		.jcarousel-wrapper {
			width: 600px;
			height: 800px;

		}
		.wrapper{
			padding:3em 0em;
		}
		p{
			text-align:left;
		}
		#main {
			display: flex; 
			width:86em;
			max-width:calc(100vw - 6em);
			.page-image{ 
				min-height:50em;
			}
		}
		#portfolio {
			display: block;
			width:86em;
			max-width:calc(100vw - 6em);
		}
		#certificates,#comment{
			display: block;
			width:40em;
			max-width:calc(100vw - 6em);
		}

		.panel-title,span {
			font-size:1.2rem;
		}
		.jcarousel-wrapper {
			width: 32em;
			height: 44em;
			img {
				width:32em;
				height:46em;
			}
			.jcarousel-control-prev,
			.jcarousel-control-next {
				top:380px;

			}
		}
	}

	
	.jcarousel-wrapper {
		margin: 20px auto;
		position: relative;
		border: 10px solid #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 0 2px #999;
		-moz-box-shadow: 0 0 2px #999;
		box-shadow: 0 0 2px #999;
	}


	.jcarousel-wrapper .photo-credits {
		position: absolute;
		right: 15px;
		bottom: 0;
		font-size: 13px;
		color: #fff;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
		opacity: .66;
	}

	.jcarousel-wrapper .photo-credits a {
		color: #fff;
	}

	/** Carousel **/

	.jcarousel {
		position: relative;
		overflow: hidden;
	}

	.jcarousel ul {
		width: 10000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.jcarousel li {
		float: left;
	}

	/** Carousel Controls **/

	.jcarousel-control-prev,
	.jcarousel-control-next {
		position: absolute;
		width: 30px;
		height: 30px;
		text-align: center;
		background: #4E443C;
		color: #fff;
		text-decoration: none;
		text-shadow: 0 0 1px #000;
		font: 24px/27px Arial, sans-serif;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		-webkit-box-shadow: 0 0 2px #999;
		-moz-box-shadow: 0 0 2px #999;
		box-shadow: 0 0 2px #999;
	}
	
	.jcarousel-control-prev {
		left: -50px;
	}

	.jcarousel-control-next {
		right: -50px;
	}

	.jcarousel-control-prev:hover span,
	.jcarousel-control-next:hover span {
		display: block;
	}

	.jcarousel-control-prev.inactive,
	.jcarousel-control-next.inactive {
		opacity: .5;
		cursor: default;
	}

	/** Carousel Pagination **/

	.jcarousel-pagination {
		position: absolute;
		bottom: 0;
		left: 15px;
	}

	.jcarousel-pagination a {
		text-decoration: none;
		display: inline-block;

		font-size: 11px;
		line-height: 14px;
		min-width: 14px;

		background: #fff;
		color: #4E443C;
		border-radius: 14px;
		padding: 3px;
		text-align: center;

		margin-right: 2px;

		opacity: .75;
	}

	.jcarousel-pagination a.active {
		background: #4E443C;
		color: #fff;
		opacity: 1;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
	}
	.jcarousel li img {
		-o-object-fit: contain;
		object-fit: contain;
	}