@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100");
body {
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  font-size: 11pt;
  margin: 0; }

article {
  background-color: white;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin: 0px auto; }

p {
  font-weight: 300;
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  text-align: justify; }

.text-center {
  text-align: center; }

.page-image {
  min-height: 25em;
  flex: 50%;
  background-color: #ddd;
  background-position: center;
  background-image: url("../img/pic01.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.content {
  flex: 50%; }

.block {
  padding: 0em 2em; }

.title {
  text-align: center;
  font-size: 1.9rem;
  margin: 0.2em 0em;
  font-weight: 100;
  letter-spacing: 2px; }

.comment {
  text-align: center;
  font-size: 0.8rem;
  color: #a0a0a0;
  font-weight: 100; }

.button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 1em;
  border: #c3c3c3 solid 1px;
  min-width: 12em;
  margin: 1em 0em; }
  .button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #636363;
    letter-spacing: 0.3em;
    font-weight: 300;
    font-size: 10pt; }

.button:hover {
  cursor: pointer;
  border-color: #ff3333; }
  .button:hover a {
    color: #ff3333; }

.nav {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */ }

.hidden {
  display: none; }

.row:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5); }

.row {
  z-index: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex; }
  .row .project-icon {
    width: 20em;
    min-height: 100%; }
    .row .project-icon img {
      width: 20em;
      min-height: 100%; }
  .row .project-content {
    padding: 1em 1em; }
    .row .project-content .project-title {
      text-align: center;
      font-size: 1.3rem;
      margin: 0.2em 0em;
      font-weight: 100;
      letter-spacing: 2px; }
    .row .project-content .project-company {
      text-align: center;
      font-size: 0.8rem;
      color: #a0a0a0;
      font-weight: 100; }
    .row .project-content .project-description {
      text-align: justify; }

.panel {
  padding: 0.6em 0em;
  background: #fbfbfb;
  z-index: 1;
  position: relative; }
  .panel .nav-back {
    background: #fbfbfb;
    border: 0px;
    float: left; }
    .panel .nav-back div {
      display: inline-block;
      vertical-align: middle; }
    .panel .nav-back i {
      display: inline-block;
      vertical-align: middle;
      margin: 0px 10px; }
  .panel .panel-title, .panel div {
    font-family: 'Roboto', sans-serif;
    margin: 0.2em 0em;
    font-weight: 100;
    letter-spacing: 2px; }

.text-center {
  text-align: center;
  vertical-align: middle; }

.social {
  margin-top: 1.5em; }
  .social a {
    margin: 0em 0.8em;
    text-decoration: none; }
    .social a i {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: gray; }
  .social a:hover i {
    color: #afafaf; }

@media only screen and (max-width: 640px) {
  .block {
    padding: 0em 1em; }

  .title {
    font-size: 1.7rem;
    margin-top: 0.8em; }

  p {
    font-size: 10pt; }

  .panel div {
    font-size: 0.8rem; }
  .panel .panel-title {
    font-size: 0.8rem;
    text-align: left; }

  .row {
    flex-direction: column;
    align-items: center; }

  .jcarousel-wrapper {
    width: 200px;
    height: 266px; }
    .jcarousel-wrapper img {
      width: 200px;
      height: 266px; }
    .jcarousel-wrapper .jcarousel-control-prev,
    .jcarousel-wrapper .jcarousel-control-next {
      top: 120px; } }
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .page-image {
    min-height: 45em; }

  .panel-title, div {
    font-size: 1.2rem; }

  .jcarousel-wrapper {
    width: 600px;
    height: 800px; }
    .jcarousel-wrapper img {
      width: 600px;
      height: 800px; }
    .jcarousel-wrapper .jcarousel-control-prev,
    .jcarousel-wrapper .jcarousel-control-next {
      top: 380px; } }
@media only screen and (min-width: 1024px) {
  .jcarousel-wrapper {
    width: 600px;
    height: 800px; }

  .wrapper {
    padding: 3em 0em; }

  p {
    text-align: left; }

  #main {
    display: flex;
    width: 86em;
    max-width: calc(100vw - 6em); }
    #main .page-image {
      min-height: 50em; }

  #portfolio, #certificates {
    display: block;
    width: 86em;
    max-width: calc(100vw - 6em); }

  .panel-title, div {
    font-size: 1.2rem; }

  .jcarousel-wrapper {
    width: 600px;
    height: 800px; }
    .jcarousel-wrapper img {
      width: 600px;
      height: 800px; }
    .jcarousel-wrapper .jcarousel-control-prev,
    .jcarousel-wrapper .jcarousel-control-next {
      top: 380px; } }
.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  border: 10px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999; }

.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66; }

.jcarousel-wrapper .photo-credits a {
  color: #fff; }

/** Carousel **/
.jcarousel {
  position: relative;
  overflow: hidden; }

.jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999; }

.jcarousel-control-prev {
  left: -50px; }

.jcarousel-control-next {
  right: -50px; }

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block; }

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default; }

/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 15px; }

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  background: #fff;
  color: #4E443C;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75; }

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75); }

/*# sourceMappingURL=style.css.map */
